<div class="container">
  <div id="form">
  <h1>Create New Group</h1>
  <%= bootstrap_form_for(@group) do |f| %>
    <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <%= f.text_field :name, placeholder: "Group Name" %>
      <%= f.text_field :desc,placeholder: "Group Description" %>
      <%= f.label "Group Type"%>
      <%= f.radio_button :is_public, true, label: "Public", checked: true %>
      <%= f.radio_button :is_public, false, label: "Private" %>
      <br>
      <br>
      <%= f.submit "Next",class: "btn btn-success" %>
  <% end %>
  </div>

</div>