
<h1>Create a new Group</h1>
  <div class="container">
  <div id="form">
  <%= bootstrap_form_for(@group) do |f| %>
    <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <%= f.text_field :name %>
      <%= f.text_field :desc %>
      <%= f.radio_button :is_public, true, label: "Public", checked: true %>
      <%= f.radio_button :is_public, false, label: "Private" %>
      <%= f.hidden_field :created_by, value: "#{current_user.name}" %>
      <br>
      <br>
      <%= f.submit "Create group",class: "btn btn-success" %>
  <% end %>
  </div>

</div>