<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password, placeholder: "Leave blank if unchanged" %>
</div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.select(:role_id) do %>
      <% [['Regular', 1], ['Admin', 2]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.label :Yes, "Yes", :value => "true"  %>
    <%= f.radio_button :approved, true %>
    <%= f.label :approved, "No", :value => "false" %>
    <%= f.radio_button :approved, false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
