<!--This is index page visible to only superadmin and admin.It consists of all the registered user in Table.Panel gived various status information about user depending upon their Approval status-->
<div class='btn-toolbar pull-right'>
  <div class='btn-group'>
    <%= link_to 'Invitation Panel', invitations_path(invitation_accepted_at: nil), class: "btn btn-success"%>    
  </div>
</div>
<br>
<h3>Listing Users</h3>
<br>
<div id="exTab1" class="container"> 
  <ul  class="nav nav-pills">
    <li class="active">
      <a  href="#1a" data-toggle="tab" id="tab">All Users</a>
    </li>
    <li><a href="#2a" data-toggle="tab" id="tab">Un-Approved Users</a>
    </li>
    <li><a href="#3a" data-toggle="tab" id="tab">Approved Users</a>
    </li>
  <%= link_to 'Invitation Panel', invitations_path(invitation_accepted_at: nil), class: "btn btn-success"%>    </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">        
      <table id="users-table"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" width="100%">      
        <%= render 'tablehead' %>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to "#{user.name}".html_safe, user, "data-toggle" => "modal", 'data-target' => '#showModal' %></td>
            <td><%= user.role_id %></td>
            <td><%= user.email %></td>
            <td><%= check_box_tag :approved ,  user.id, user.approved, data: { url: unapproved_user_path(user.id) }, class: 'user-approved', id: "approved_#{user.id.to_s}" %></td>
              
               
            <td><%= link_to "<i class='glyphicon glyphicon-pencil'></i>&nbsp; Edit".html_safe , edit_user_path(user),"data-toggle" => "modal", 'data-target' => '#editModal'  %></td>
            
            <td><%= link_to "<i class='glyphicon glyphicon-remove-sign'></i>&nbsp; Destroy".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } if user.role_id !='3' %></td>
          </tr>
              <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="2a">
      <table id="users-table"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" width="100%">
       <%= render 'tablehead' %>
        <tbody>
          <% @users.each do |user| %>
          <%if !user.approved%>
          <tr>
            <td><%= link_to "#{user.name}".html_safe, user, "data-toggle" => "modal", 'data-target' => '#showModal2' %></td>
            <td><%= user.role_id %></td>
              <td><%= user.email %></td>
              <td><%= check_box_tag :approved ,  user.id, user.approved, data: { url: unapproved_user_path(user.id) }, class: 'user-approved', id: "approved_#{user.id.to_s}" %></td>
              <td><%= link_to "<i class='glyphicon glyphicon-pencil'></i>&nbsp; Edit".html_safe , edit_user_path(user) if user.role_id = 3 %></td>
              <td><%= link_to "<i class='glyphicon glyphicon-remove-sign'></i>&nbsp; Destroy".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } if user.role.name != '3' %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="tab-pane" id="3a">
        <table id="users-table"  class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" width="100%">
          <%= render 'tablehead' %>
          <tbody>
            <% @users.each do |user| %>
            <%if user.approved%>
              <tr>
              <td><%= link_to "#{user.name}".html_safe, user, "data-toggle" => "modal", 'data-target' => '#showModal3' %></td>
                <td><%= user.role_id %></td>
                <td><%= user.email %></td>
                <td><%= check_box_tag :approved ,  user.id, user.approved, data: { url: unapproved_user_path(user.id) }, class: 'user-approved', id: "approved_#{user.id.to_s}" %></td>
                <td><%= link_to "<i class='glyphicon glyphicon-pencil'></i>&nbsp; Edit".html_safe , edit_user_path(user) if user.role.name !='Superadmin'  %></td>
                <td><%= link_to "<i class='glyphicon glyphicon-remove-sign'></i>&nbsp; Destroy".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } if user.role_id != 3 %></td>
              </tr>
              <% end %>
              <% end %>
          </tbody>
        </table>
      </div>      
    </div>
</div>
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">                      
    </div>
  </div>
</div>
<div class="modal fade" id="showModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">                      
    </div>
  </div>
</div>
<div class="modal fade" id="showModal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">                      
    </div>
  </div>
</div>
<div class="modal fade" id="showModal3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>                      
  </div>
</div>
                         