<!--Displays User Information stored-->
<div class="container">
  <div id="form">
    <h1>
     <p>
      <strong class="label label-info">Name:</strong>
      <%= @user.name %> 
    </p>
    <p>
      <strong class="label label-info">Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong class="label label-info">Role:</strong>
      <%= @user.role.name %>
    </p>
    <p>
      <strong class="label label-info">Approval Status:</strong>
      <%= @user.approved %>
    </p>
    <p>
      <strong class="label label-info">Joined on:</strong>
      <%= @joined_on %>
    </p>
    <p>
      <strong class="label label-info">Last logged in on:</strong>
      <%= @last_login %>
    </p>
    <p>
      <strong class="label label-info">No. times logged in:</strong>
      <%= @user.sign_in_count %>
    </p>
   </h1>
  <%= link_to 'Edit', edit_user_path(@user),:class => "btn" %> |
  <%= link_to 'Back', users_path,  :class => "btn " %>
  </div>
</div>