<!--Panel to display invited users by admin-->
<h3 class="margin-top">Invite User</h3>
<%= form_for(User.new, url: user_invitation_path, method: :post , html: {class: "form-inline"}) do |f|%>
  <%= f.text_field :name, class: "form-control",placeholder: "Name",:required => true%>
  <div class="field">
    <br>
      <%= f.text_field :email, class: "form-control", placeholder:"Email",:required => true %>
      <%= f.hidden_field :approved, :value => true %>
  </div>
  <%= f.submit "Invite user" , class: "btn btn-success" %>   
<% end %>
<div id="invitation-button">
<%= link_to 'Dashboard', users_path, class: "btn btn-success"%> 
</div>
<br><br>
<div id="exTab1" class="container"> 
  <ul  class="nav nav-pills">
    <li >
      <a  href="#1a" data-toggle="tab">Pending Invitations</a>
    </li>
    <li class="active">
      <a href="#2a" data-toggle="tab">Accepted Invitations</a>
    </li>
    <li >
      <a href="#3a" data-toggle="tab">All Users created by invitations</a>
    </li>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="2a">    
          <%= render 'accepted_invitations' %>
        </div>

        <div class="tab-pane" id="1a">
          <%= render 'pending_invitations'%>
        </div>

        <div class="tab-pane" id="3a">
          <%= render 'all_invitations' %>
        </div>
              
      </div>
</div>
