<div class="container">
    <div class="omb_login">
      <h3 class="omb_authTitle">Login   or   <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Signup", new_user_registration_path %>
<% end -%> </h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
          <div class="col-xs-4 col-sm-2">
            <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-block omb_btn-facebook" %>
              <i class="fa fa-facebook visible-xs"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <%= link_to "Twitter", user_twitter_omniauth_authorize_path, class: "btn btn-lg btn-block omb_btn-twitter" %>
              <i class="fa fa-twitter visible-xs"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
          <div class="col-xs-4 col-sm-2">
            <%= link_to "Google+", user_google_oauth2_omniauth_authorize_path, class: "btn btn-lg btn-block omb_btn-google" %>
              <i class="fa fa-google-plus visible-xs"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>  
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <p><span class="omb_spanOr">or</span></p>
      </div>
    </div>

  <div id="form"> 
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field" class="omb_authTitle">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
         <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <p>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
           </div>
      <% end -%>
      </p>
      <div class="actions">
        <%= f.button "Sign in" , class: "btn btn-success btn-lg btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i> Signing in..."} %>
      </div>
    <% end %>
  </div>
</div>
</div>
<%= render "devise/shared/links" %>